  html,
  body {
    height: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content {
    flex: 1 0 auto;
  }

  .footer {
    flex: 0 0 auto;
  }

  body {
    font-family: Rubik;
    font-size: 18px;
    color: #616161;
  }

  [class*="__container"] {
    /* селектор ограничивающего контейнера */
    max-width: 1070px;
    /* +30px */
    margin: 0px auto;
    padding: 0 0px;
    /* отступы безопасности для адаптивности через брейк поинты */
  }

  /***********************************************************/

  .header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }

  .header__container {
    display: flex;
    min-height: 170px;
    align-items: center;
  }

  .header__menu {
    flex: 1 1 auto;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    padding: 80px;
  }

  .menu__list {
    display: flex;
    gap: 40px;
  }

  .menu__link {
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.14em;
    color: #000;
  }

  .menu__link:hover {
    color: #0CD681;
  }

  .header__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button__visual {
    width: 158px;
    height: 50px;
    background: #0CD681;
    border-radius: 8px;
    transition: background-color 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.14em;
    color: #EFEFEF
  }

  .button__visual:hover {
    background-color: #000;
  }

  /***********************************************************/

  .reviews__container {
    padding-top: 220px;
    display: flex;
  }

  span {
    color: #3DB1CA;
  }

  .content__tittle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000;
  }

  .content__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #616161;
    margin-top: 40px;
  }

  .reviews__text {
    width: 375px;
  }

  .content__alt-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #B0B0B0;
  }

  .content__alt-link {
    text-transform: uppercase;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.165em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-decoration: none;
  }

  .content__alt-link:hover {
    color: #0CD681;
  }

  .content__alt {
    display: flex;
    align-items: flex-end;
  }

  .reviews__alt {
    margin-top: 28px;
  }

  .reviews {
    display: flex;
  }

  .content__alt {
    gap: 8px;
    display: flex;
    align-items: center;
  }

  .support__container {
    display: flex;
    margin-top: 77px;
    justify-content: space-between;
  }

  .support__text {
    width: 479px;
    height: 254px;
  }

  .features__text {
    width: 479px;
    height: 226px;
  }

  /***********************************************************/

  .sum__tittle {
    margin-top: 90px;
    display: flex;
    justify-content: center;
  }

  .sum__text {
    margin-top: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 138.5%;
  }

  .features__blocks {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  .blocks {
    transition: all 1s ease;
  }

  .blocks:hover {
    transform: scale(1.2);
  }

  /***********************************************************/

  .footer {
    margin-top: 57px;
    width: 100%;
    height: 255px;
    background: #224D50;
  }

  .footer__container {
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
  }

  .footer__tittle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }

  .footer__text {
    margin-top: 8px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }

  .number {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    margin-bottom: 8px;
  }

  ul li:hover {
    color: #0CD681;
  }

   /***********************************************************/

  .templetes__container{
    padding-top: 220px;
   }

   .templetes__img{
     margin-top: 50px;
     display: flex;
     justify-content: space-between;
   }

   .templetes__block{
    transition: all 1s ease;
   }

   .templetes__block:hover {
    transform: scale(1.2);
  }